.home{
    background-color: #2a2926;
    color: white;
	font-family: 'Roboto Slab', serif;
}

.home span{
    font-size: 22px;
    color: #b1b1b1;
}

/*BODY*/

.home .iframes{
    width: 315px;
    height: 315px;
}

.home .por{
    grid-area: por;
    background-image: url(mult/sato.png);
    width: 100%;
    position: sticky;
}

.home .pic{
    display: flex;
    flex-direction: column;
    grid-area: pic;
    text-align: center;
}

.home .pic strong{
    font-size: 20px;
}

.home .inf{
    grid-area: inf;
}

.home .you{
    grid-area: you;
}

.home .spo{
    grid-area: spo;
}

.foo{
    width: 100%;
    text-align: center;
    grid-area: foo;
    background-color: #1b1b19;
}

.container {
    justify-items: center;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr .1fr .2fr; 
    gap: 30px 0px; 
    grid-template-areas: 
        "por por por por"
        "pic pic inf inf"
        "you you spo spo"
        "you you spo spo"
        "foo foo foo foo"; 
}