body{
	background-color:#2a2926;
	font-family: 'Roboto Slab', serif;
}

body::-webkit-scrollbar{
	width:7px;
	background:black;
}

body::-webkit-scrollbar-thumb{
	background:white;
	border-radius:100px;
}

header{
	width: 100%;
	position: fixed;
	z-index: 5;
}

ul{
	padding-left:39%;
}

a{
	color:#dfb7eb;
	font-size:20px;
	text-decoration:none;
}

a:hover{
	color:#fff;
	transition:.5s;
}

li{
	display:inline-block;
	margin-left:20px;
}

nav{
	background-color:#2a2926;
	padding:30px;
}

span{
	font-size:20px;
	color:#4B464A;
	text-shadow:1px 1px 2px #fff;
}




/*HOME--HOME--HOME--HOME--HOME*/
/*HOME--HOME--HOME--HOME--HOME*/
/*HOME--HOME--HOME--HOME--HOME*/
/*HOME--HOME--HOME--HOME--HOME*/
/*HOME--HOME--HOME--HOME--HOME*/




.index p{
	text-align:center;
	color:white;
	font-size:30px;
}

.index #name{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
}

.index #descripcion{
	position:absolute;
	width:40%;
	text-align:left;
	top:140px;
	left:42%;
}

.index #disc{
	position:fixed;
	z-index:-1;
	top:-480px;
}

.index #yo{
	position:absolute;
	left:19%;
	right:0px;
	bottom:0px;
	top:30px;
	z-index:1;
	width:400px;
}

.index h1{
	position:absolute;
	color:white;
	left:42%;
	top:40px;
}

.index .header{
	position:absolute;
	top:95%;
	background-color:#2a2926;
	width:100%;
	height:500px;
}

.index .pics{
	background-color:#2a2926;
	position:absolute;
	top:1400px;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:630px;
	padding-left:280px;
}

.index .pics img{
	width:265px;
	border:2px solid #fff;
}

.index .pics p{
	text-align:left;
}

.index .videos{
	background-color:#2a2926;
	position:absolute;
	top:2020px;
	width:100%;
	height:900px;
}

.index .ini{
	text-align:right;
	margin-right:10%;
}

.index .yt{
	margin-left:36%;
}

.index .audio{
	background-color:#2a2926;
	position:absolute;
	top:2920px;
	width:100%;
	height:650px;
}

.index .pvht{
	margin-left:30%;
	width:40%;
	height:380px; 
}

.index .sc{
	margin-left:550px;
}

.index .au{
	text-align:right;
	margin-right:220px;
}

.index .otro{
	display:inline;
	margin-left:10%;
	width:40%;
	height:80px;
}

.index .veo{
	display:inline;
	width:40%;
	height:80px;
}



/*MERCHANDISING------MERCHANDISING*/
/*MERCHANDISING------MERCHANDISING*/
/*MERCHANDISING------MERCHANDISING*/
/*MERCHANDISING------MERCHANDISING*/
/*MERCHANDISING------MERCHANDISING*/




.merch{
	background-color:#2a2926;
	color:white;
	font-family: 'Roboto Slab', serif;
}

.merch .ulNav{
	padding-left:47.5%;
}

.merch .homePadre{
	display:inline-block;
}

.merch .home{
	color:#dfb7eb;
	text-decoration:none;
	font-size:20px;
}

.merch .home:hover{
	color:white;
	background-color:black;
	transition:.5s;
}

.compreAqui{
	text-align:center;
	font-size:30px;
}

.merch .tablaProductos{
	width:100%;
}

.merch img{
	width:400px;
}

.merch .name{
	font-size:20px;
}

.merch .more{
	text-align:center;
	font-size:30px;
	margin-bottom:50px;
}


/*ARTISTAS--ARTISTAS--ARTISTAS*/
/*ARTISTAS--ARTISTAS--ARTISTAS*/
/*ARTISTAS--ARTISTAS--ARTISTAS*/
/*ARTISTAS--ARTISTAS--ARTISTAS*/
/*ARTISTAS--ARTISTAS--ARTISTAS*/



.art main img{
	width:300px;
}

.art p{
	color:white;
	font-size:20px;
}

.art .imgName{
	display:inline-block;
}

.art .imgName p{
	text-align:center;
}

.art .Redes{
	display:inline-block;
}

.art .cant{
	margin-bottom:50px;
}



/*NOSOTROS--NOSOTROS--NOSOTROS*/
/*NOSOTROS--NOSOTROS--NOSOTROS*/
/*NOSOTROS--NOSOTROS--NOSOTROS*/
/*NOSOTROS--NOSOTROS--NOSOTROS*/
/*NOSOTROS--NOSOTROS--NOSOTROS*/



.contacto{
	color:#fff;
}

.contacto .picName img{
	width:400px;
}

.contacto .fa-brands,.fa-envelope{
	font-size:50px;
	margin-left:30px;
}

.contacto .fa-globe{
	font-size:50px;
}

.contacto .redes{
	width:100%;
	text-align:center;
}



/*COMPRA COMPRA COMPRA*/
/*COMPRA COMPRA COMPRA*/
/*COMPRA COMPRA COMPRA*/
/*COMPRA COMPRA COMPRA*/
/*COMPRA COMPRA COMPRA*/



.buy .valor{
	color:yellow;
}

.buy .llega,.mañana,.devolucion,.gratis{
	color:limegreen;
	text-shadow:none;
}

.buy{
	color:#fff;
}

.buy .producto{
	width:400px;
}