body{
	background-color:#2a2926;
	font-family: 'Roboto Slab', serif;
}

body::-webkit-scrollbar{
	width:7px;
	background:black;
}

body::-webkit-scrollbar-thumb{
	background:white;
	border-radius:100px;
}

header{
	width: 100%;
	position: sticky;
	z-index: 5;
	top: 0px;
}
/*
ul{
	padding-left:39%;
}



span{
	font-size:20px;
	color:#4B464A;
	text-shadow:1px 1px 2px #fff;
}
*/

li{
	display:inline-block;
	margin:20px;
}

nav{
	background-color:#2a2926;
}

a{
	color:#dfb7eb;
	font-size:20px;
	text-decoration:none;
}

a:hover{
	color:#fff;
	transition:.5s;
}

.stay{
	font-size: 20px;
	color: white
}



/*HOME--HOME--HOME--HOME--HOME*/
/*HOME--HOME--HOME--HOME--HOME*/
/*HOME--HOME--HOME--HOME--HOME*/
/*HOME--HOME--HOME--HOME--HOME*/
/*HOME--HOME--HOME--HOME--HOME*/




.j{
	color: orange;
}




/*MERCHANDISING------MERCHANDISING*/
/*MERCHANDISING------MERCHANDISING*/
/*MERCHANDISING------MERCHANDISING*/
/*MERCHANDISING------MERCHANDISING*/
/*MERCHANDISING------MERCHANDISING*/




.merch{
	background-color:#2a2926;
	color:white;
	font-family: 'Roboto Slab', serif;
}

.merch .ulNav{
	padding-left:47.5%;
}

.merch .homePadre{
	display:inline-block;
}

.merch .home{
	color:#dfb7eb;
	text-decoration:none;
	font-size:20px;
}

.merch .home:hover{
	color:white;
	background-color:black;
	transition:.5s;
}

.compreAqui{
	text-align:center;
	font-size:30px;
}

.merch .tablaProductos{
	width:100%;
}

.merch img{
	width:400px;
}

.merch .name{
	font-size:20px;
}

.merch .more{
	text-align:center;
	font-size:30px;
	margin-bottom:50px;
}


/*ARTISTAS--ARTISTAS--ARTISTAS*/
/*ARTISTAS--ARTISTAS--ARTISTAS*/
/*ARTISTAS--ARTISTAS--ARTISTAS*/
/*ARTISTAS--ARTISTAS--ARTISTAS*/
/*ARTISTAS--ARTISTAS--ARTISTAS*/



.art main img{
	width:300px;
}

.art p{
	color:white;
	font-size:20px;
}

.art .imgName{
	display:inline-block;
}

.art .cant p{
	text-align:center;
}

.art .cant{
	display: flexbox;
	flex-direction: column-reverse;
}

.art .fa-brands{
	text-align: center;
}



/*NOSOTROS--NOSOTROS--NOSOTROS*/
/*NOSOTROS--NOSOTROS--NOSOTROS*/
/*NOSOTROS--NOSOTROS--NOSOTROS*/
/*NOSOTROS--NOSOTROS--NOSOTROS*/
/*NOSOTROS--NOSOTROS--NOSOTROS*/



.contacto{
	color:#fff;
}

.contacto .picName img{
	width:400px;
}

.contacto .fa-brands,.fa-envelope{
	font-size:50px;
	margin-left:30px;
}

.contacto .fa-globe{
	font-size:50px;
}

.contacto .redes{
	width:100%;
	text-align:center;
}



/*COMPRA COMPRA COMPRA*/
/*COMPRA COMPRA COMPRA*/
/*COMPRA COMPRA COMPRA*/
/*COMPRA COMPRA COMPRA*/
/*COMPRA COMPRA COMPRA*/



.buy .valor{
	color:yellow;
}

.buy .llega,.mañana,.devolucion,.gratis{
	color:limegreen;
	text-shadow:none;
}

.buy{
	color:#fff;
}

.buy .producto{
	width:400px;
}